/*Reset standart styles*/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(20, 20, 20, 0.4);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}
h1,h2{
    margin: 0px;
    padding: 0px;
}

/*Global styles*/
.container{
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
}
.main .container{
    display: flex;
}

/*Modal*/
.modal-menu{
    opacity: 0;
    top:-100%;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    background-color: rgb(70, 68, 68);
    height: 100vh;
    z-index: 10;
    transition:all 0.5s ease-in;
   pointer-events: none;
}
.modal-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    color:#fff;
    font-size: 30px;
    font-weight: 700;
}
.modal-menu ul li{
    margin: 10px;
    border-radius: 3px;
}
.modal-menu ul li:hover{
  background-color:#333;
}
.modal-menu ul li a{
    display: inline-block;
    padding: 10px 30px;
}
.modal-menu.active{
    opacity: 1;
    top:0px;
    pointer-events: all;
}

/*Hamburger*/
.hamburger{
    position: fixed;
    top:50px;
    right: 5%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 15;
}
.hamburger-line{
    position: absolute;
    top:21px;
    width: 100%;
    height: 4px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition:all 0.4s ease-in;
}
.hamburger-line::before,.hamburger-line::after{
    content: '';
    width:100%;
    height: 4px;
    background-color: black;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.hamburger-line::before{
    top:-15px;
    transition:all 0.4s ease-in;
}
.hamburger-line::after{
    bottom: -15px;
    transition:all 0.4s ease-in;
}
.hamburger.active .hamburger-line{
    background-color: rgb(70, 68, 68);
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.hamburger.active .hamburger-line::before{
    transform: rotate(45deg);
    top:0px;
}
.hamburger.active .hamburger-line::after{
    transform: rotate(135deg);
    top:0px;
}

/*Article styles*/
.main-article{
    border-radius: 20px 0px 0px 20px;
    border:2px solid #fff;
}
.main-article ul{
padding: 50px 0;
border-bottom: 5px solid #fff;
}

.main-article{
    max-width: 40%;
    background-color: #141414;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

.main-article-contacts {
   text-align: center;
}

.main-article-contacts img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 20px;
}

.main-article-skills li span{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border:1px solid #fff;
    border-radius: 5px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.main-article-skills li span:hover {
transform: scale(1.1);
}

.main-article-lang li ,.main-article-portfolio li{
margin-left: 30px;
margin-bottom: 20px;
}

.main-article-portfolio li a{
color: #6060b1;
}

.main-article-skills li:first-of-type, .main-article-portfolio li:first-of-type, .main-article-lang li:first-of-type{
    margin-left: 0px;
    font-size: 30px;
    text-align: center;
}

/*Main content*/

.main-content{
    padding: 50px 30px;
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
}

.main-title{
    margin-bottom: 10px;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.main-subtitle{
    margin-bottom: 20px;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.list-title{
    padding: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.list-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 20px 20px 20px;
    margin-bottom: 0px;
    border-left: 1px solid black;
}

.list-content::before{
    content:"";
    position: absolute;
    top:0px;
    left:-9px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border:1px solid black;
    background-color: #fff;
}

.list-date{
    width: 20%;
    font-size: 18px;
    line-height: 1.5;
}

.sublist{
    width: 65%;
}

.sublist-position{
    font-size: 25px;
    font-weight: 600;
}

.sublist-company{
    font-size: 20px;
    font-weight: 600;
}

.sublist-description{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
}

/*Cards*/

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(20, 20, 20, 0.4);
}
.cards .main-subtitle{
    width: 310px;
    margin: 30px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    height: 250px;
    background-color:#fff;
    display: flex;
    width: 310px;
    margin: 30px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.card .imgBox{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in;
}
.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position:top left;
}
.card:hover .imgBox{
    width: 150px;
    height: 150px;
    left: -75px;
    top:calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background-color: #ff0057;
}
.card.active .imgBox{
    width: 150px;
    height: 150px;
    left: -75px;
    top:calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background-color: #ff0057;
}
.card-content{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-content h3{
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    font-size: 24px;
    text-align: left;
}
.card-content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color:#333;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
}
.card-link:hover{
    transform: scale(1.08);
}
/*Footer*/

.footer-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
.footer-list li img{
    width: 200px;
    height: 100px;
}
.footer-list li:last-of-type img{
width: 60px;
height: 60px;
}
.mobile-header{
    display: none;
}
/*Media*/
@media (max-width:1100px){
    .hamburger{
        left:2%;
    }
    .hamburger-line, .hamburger-line::before,  .hamburger-line::after{
        background-color: #fff;
    }
    
    .hamburger.active .hamburger-line{
        background-color: rgb(70, 68, 68);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    }
    .cards{
        justify-content: center;
    }
}
@media (max-width:800px){
    .hamburger{
        left:15px;
        top:15px;
        width: 40px;
    }
   
    .main-article ul{
        padding: 20px 0;
        font-size: 18px;
    }

    .main-article-contacts img{
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }
    
    .main-article-lang li ,.main-article-portfolio li{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .main-article-skills li:first-of-type, .main-article-portfolio li:first-of-type, .main-article-lang li:first-of-type{
        font-size: 25px;
    }
    
    /*Main content*/
    
    .main-content{
        padding: 20px 15px;
    }
    
    .main-title{
        font-size: 40px;
    }
    
    .main-subtitle{
        font-size: 20px;
    }
    
    .list-title{
        padding: 10px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .list-content{
        padding: 0px 15px 15px 15px;
    }
    
    .list-content::before{
        left:-6px;
        width: 10px;
        height: 10px;
    }
    
    .list-date{
        font-size: 15px;
    }
    
    .sublist-position{
        font-size: 20px;
    }
    
    .sublist-company{
        font-size: 16px;
    }
    
    .sublist-description{
        font-size: 14px;
    }
    
    /*Footer*/
    
    .footer-list{
        font-size: 18px;
    }
    .footer-list li img{
        width: 150px;
        height: 100px;
    }
    .footer-list li:last-of-type img{
    width: 50px;
    height: 50px;
    }

}
@media (max-width:650px){
    .main .container{
        display: flex;
        flex-wrap: wrap;
    }
    .main-article{
        max-width: 100%;
        border-radius: 0px;
    }
    .main-content{
        border-radius: 0px;
    }
    header{
        display: none;
    }
    .mobile-header{
        display: block;
        font-size: 30px;
        font-weight: 700;
    }
    .mobile-header:first-of-type{
        padding-top: 40px;
    }

    

.card{
    display: block;
    position: relative;
    height: auto;
    background-color:#fff;
    width: 310px;
    margin: 30px 5px;
    cursor: pointer;
}
.card .imgBox{
   position: static;
    width: 100%;
    height:auto;
    background-color: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in;
}
.imgBox img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position:top left;
}
.card:hover .imgBox{
    width: 100%;
    height:auto;
}
.card.active .imgBox{
    width:100%;
    height:auto;
}
.card-content{
    position: static;
    width: 100%;
   
}
}

@media (max-width:500px){




.main-title{
        font-size: 30px;
}
/*Footer*/

.footer-list li{
    font-size: 15px;
}

.footer-list li img{
    width: 100px;
    height: 50px;
}
.footer-list li:last-of-type img{
width: 30px;
height: 30px;
}
}
 